<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Shine Hair"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShineHair">
        <activity
            android:name=".admin.activity.ThongKeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.ChiTietDatLichActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.XemLichDatActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.XoaLichDatActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.SuaTTaccActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.SuaThongTinActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.XoaAccActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.TKStaffActivity"
            android:exported="false" />
        <activity
            android:name=".admin.activity.QuanLyAccActivity"
            android:exported="false" />
        <activity
            android:name=".staff.KiemTraLichActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LichSuDatActivity"
            android:exported="false" />
        <activity
            android:name=".admin.QuanLyDatLichActivity"
            android:exported="false" />
        <activity
            android:name=".admin.GioMoCuaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SuaThongTinDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.SuaDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".admin.QuanLyDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DichVuDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.XoaDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ThemDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DatLichActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".staff.StaffHomeActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".SplashTheme"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>